.ol-rotate {
    top: 2.15em;
}
.ol-if {
    top: 0.6em;
    left: 3.7em;
}
.ol-list {
    top: 4.5em;
    left: 0.6em;
    background-color: transparent;
    /*opacity: 0;*/
}
.ui.segment{
    background-color: transparent;
}
.ol-list:hover {
    background-color: transparent;
}
.ui.icon.buttons.if button{
    height: 2.55em;
    width: 2.55em;
}